@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: "#1677ff"
}

.slick-dots li.slick-active button:before {
  display: none;
}

.slick-dots li button:before {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
