.check_input:checked ~ .checkbox {
  background-color: #1677ff;
  border-color: #1677ff;
}

.check_input:checked ~ .checkbox:before {
  content: "\2713";
  display: inline-block;
  color: white;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.check_input:disabled ~ .checkbox {
  cursor: default;
  background-color: #ccc;
}

.checkbox {
  position: relative;
  display: block;
  width: 22px;
  height: 23px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  cursor: pointer;
}

.check_input {
  display: none;
}

#custom_check {
}
